* {
    padding: 0;
    margin: 0;
}

.game-container {
    background: url('./image-assets/backGroundImage.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    background: linear-gradient(rgb(156, 244, 156), rgb(239, 239, 141));
    width: 78vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid grey;
    transform: scale(1.02);
    border-radius: 9px;
}

.food {
    background: linear-gradient(red, blue);
    border-radius: 12px;
}

.snake {
    background-color: red;
    border: 0.25vmin solid white;
    border-radius: 12px;
}

#current-score {
    position: absolute;
    top: 9px;
    right: 143px;
    font-size: 39px;
    font-family: Georgia, serif;
}

#high-score {
    position: absolute;
    top: 52px;
    right: 86px;
    font-size: 39px;
    font-family: Georgia, serif;
}

#reset-button {
    position: absolute;
    top: 140px;
    right: 162px;
    font-size: 39px;
    font-family: Georgia, serif;
    border-radius: 12px;
    background-color: lightgoldenrodyellow;
}
